<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="data">add student</title>
  </head>
  <body>
    <form action="/add" method="post">
      <label for="name">name</label>
      <input type="text" placeholder="enter your name" required name="name" />
      <button type="submit">add</button>
    </form>
  </body>
</html>