<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS CRUD</title>

    <link rel="stylesheet" href="./css/style.css">
  
  </head>
  <body>

    <h1>student list</h1>

    <a href="/add">add student data</a>


<ul>

  <!-- studentList.forEach((s)=>{
    console.log(s.name)
  }) -->





      <%studentList.forEach((s)=>{%>
    
        <li>

          <%=s.name%>
   
          <a href="/edit/<%=s.id%>">edit</a>
          <a href="/delete/<%=s.id%>">delete</a>
       
         
        </li>
    
   <%})%>

</ul>

  </body>
</html>